@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.page {
  min-width: 360px;
  width: 70%;
  padding: 20px 0 20px 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 500px;
  margin: 20px auto 10px;
  padding: 20px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4c4eaf;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #143cca;
}
.form .message {
  margin: 15px 0 0;
  color: #595959;
  font-size: 12px;
}
.form .message a {
  color: #4c4faf;
  text-decoration: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}

body {
  background: #a2a2a2; /* fallback for old browsers */
  background: #a2a2a2;
  background: linear-gradient(0deg, #a2a2a2 0%, #fff 100%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  color: #4d4d4d;
}

.logo {
  width: auto;
  height: 150px;
  margin: 0 auto;
  display: block;
}

.boxsizingBorder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.preview {
  white-space: pre-line;
  padding: 10px;
}
#xml-preview .error {
  color: red;
}


/*** DOCUMENT SELECT ** */
.form select {
  position: relative;
  -webkit-appearance: button;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  height: 2.2em;
  margin: 2px;
  padding: 0.3em 0.6em;
  background: white;
  border: 1px solid #aaaaaa;
  border-radius: 0.3em;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 0.85em;
  font-weight: normal;
  overflow: hidden;
  text-shadow: 0 1px 0 white;
  -webkit-transition: box-shadow 200ms, border-color 200ms;
  -moz-transition: box-shadow 200ms, border-color 200ms;
  transition: box-shadow 200ms, border-color 200ms;
  white-space: nowrap; 
}
.form select option {
  text-shadow: none; 
}
.form select:disabled, .form select:disabled:hover {
  color: #cccccc !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) !important; 
}
.form select.error {
  color: #bf212e;
  border-color: #bf212e; 
}
.form select.input-big {
  font-size: 17px; 
}
.form.error select, .form .error select {
  color: #bf212e;
  border-color: #bf212e; 
}

.boxshadow .form select:not([size]):focus {
  outline: none;
  border-color: #66ccff;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 4px #66ccff; 
}
.boxshadow.no-touch .form select:not([size]):hover {
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 0 3px #ffff88; 
}

.cssgradients .form select:not([size]) {
  border-color: #ececec;
  background-color: #ececec;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ececec));
  background-image: -webkit-linear-gradient(top, white, #ececec);
  background-image: -moz-linear-gradient(top, white, #ececec);
  background-image: -ms-linear-gradient(top, white, #ececec);
  background-image: -o-linear-gradient(top, white, #ececec);
  background-image: linear-gradient(top, white, #ececec); 
}
.cssgradients .form select:not([size]).focus {
  border-color: #66ccff; 
}
.cssgradients .form select:not([size]).error {
  border-color: #bf212e; 
}
.cssgradients .form.error select, .cssgradients .form .error select {
  border-color: #bf212e; 
}

/* ie9/10 */
@media screen and (min-width: 0 \0) {
  .form select:not([size])::-ms-expand {
    background: transparent;
    border: none;
    width: 12px;
    padding-left: 5px; 
  }

  .boxshadow .form select:not([size]) {
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4); 
  }

  .boxshadow .form select:not([size]):focus {
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 4px #66ccff; 
  }

  .no-touch.boxshadow .form select:not([size]):hover {
    border-color: white;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 0 3px #ffff88; 
  } 
}

/* firefox - use a wrap */
@-moz-document url-prefix() {
  .form select:not([size]) {
    max-width: 999px !important; 
  }

  .form option {
    padding-right: 10px; 
  }

  .form-select-wrap {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    font-size: 0.9em; 
  }
  .form-select-wrap.input-big {
    font-size: 17px; 
  }
  .form-select-wrap:before {
    content: "";
    position: absolute;
    right: 0.5em;
    top: 0.3em;
    z-index: 11;
    bottom: 0.3em;
    width: 1.55em;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ececec));
    background-image: -webkit-linear-gradient(top, white, #ececec);
    background-image: -moz-linear-gradient(top, white, #ececec);
    background-image: -ms-linear-gradient(top, white, #ececec);
    background-image: -o-linear-gradient(top, white, #ececec);
    background-image: linear-gradient(top, white, #ececec);
    pointer-events: none; 
  }
  .form-select-wrap:after {
    content: "\25bc";
    position: absolute;
    right: 5px;
    top: 0.9em;
    bottom: 0.8em;
    z-index: 12;
    font-size: 0.6em;
    font-family: "uswitch-icon", helvetica, arial, sans-serif;
    line-height: 1;
    padding: 0.5em 4px 0;
    color: #999999;
    border-left: 1px solid white;
    box-shadow: -1px 0 0 #dddddd;
    text-shadow: 0 1px 0 white;
    pointer-events: none; 
  } 
}

/* webkit */
@media all and (-webkit-min-device-pixel-ratio: 0) {
  .form select:not([size]) {
    padding-right: 30px; 
  }

  .boxshadow .form select:not([size]) {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWCAYAAADafVyIAAAAzElEQVRIDWP8//8/Ay0BE8zws2fPgmyium1wC2AWUZsetYBgiI4GEcEgYiGoAqqgq6trGZAZia4emFGXlZeXR6OLw/hEx8G/f/+ygYY9hWkE0UD+IyCVhSyGzibagoqKiveMjIyJIHNBhgAN/wekYoGu/wji4wJEWwAyoKysbDfQ4ClQw7qAhh/CZTBMnOg4gGl4+fJluYSEhNC9e/fqYGJ4aaCLQN5lOHPmDJACAzAfyKIKTVIQ4XUpDslRC3AEDEJ46AcRIyg50hIAANnugKRDswA6AAAAAElFTkSuQmCC"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ededed));
    background-image: url("data:image/svg+xml;utf8,<svg width='24px' height='22px' version='1.1' xmlns='http://www.w3.org/2000/svg'><title>select-arrow</title><g id='arrow-group' fill='rgb(223,223,223)' fill-rule='evenodd'><path d='M10,9 L13.4690265,14 L17,9 L10,9 Z M10,9' id='arrow' fill='rgb(155,155,155)'></path><path d='M2,1 L2,21 L3,21 L3,1 L2,1 Z M2,1' id='dark-line' fill='rgb(213,213,213)'></path><path d='M3,1 L3,21 L4,21 L4,1 L3,1 Z M3,1' id='light-line' fill='rgb(254,255,255)'></path></g></svg>"), -webkit-linear-gradient(-90deg, white 0%, #ededed 100%);
    background-repeat: no-repeat, repeat;
    background-position: 100% 50%, 0 0; 
  }
  .boxshadow .form select:not([size]).error {
    color: #bf212e;
    border-color: #bf212e; 
  }
  .boxshadow .form.error select:not([size]), .boxshadow .form .error select:not([size]) {
    color: #bf212e;
    border-color: #bf212e; 
  }

  .boxshadow .form select:not([size]):focus {
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 4px #66ccff; 
  }

  .no-touch.boxshadow .form select:not([size]):hover {
    border-color: #c8c8c8;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 0 3px #ffff88; 
  } 
}

/* multiple line select control (eg <select size="10">) */
.form select[size] {
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  height: auto;
  margin: 2px;
  padding: 0.3em 0 0.3em 0.4em;
  border: 1px solid #c4c0c0;
  border-radius: 2px;
  box-shadow: 0px 3px 2px #eeeeee inset;
  font-family: "Lucida Grande", helvetica, arial, sans-serif;
  font-size: 0.85em !important;
  -webkit-transition: box-shadow 200ms, border-color 200ms;
  -moz-transition: box-shadow 200ms, border-color 200ms;
  -ms-transition: box-shadow 200ms, border-color 200ms;
  transition: box-shadow 200ms, border-color 200ms;
  vertical-align: middle;
  overflow: scroll; 
}
.form select[size]:focus {
  outline: none;
  color: #333333;
  border-color: #66ccff;
  box-shadow: 1px 3px 2px #eeeeee inset, 0 0 4px #66ccff; 
}
.form select[size]:focus:hover {
  outline: none;
  color: #333333;
  border-color: #66ccff;
  box-shadow: 1px 3px 2px #eeeeee inset, 0 0 4px #66ccff; 
}

/* hidden */
.form select.hidden {
  display: none; 
}

